@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #f1f4fa;
}

.container {
  max-width: 1068px;
  margin: 20px auto;
  padding: 30px 38px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 8px rgba(41, 45, 50, 0.3);
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

.users-table {
  border-collapse: collapse;
}

.users-table th {
  padding: 6px 4px;
  color: #B5B7C0;
  font-weight: 500;
  text-align: left;
}

.users-table td {
  padding: 4px 14px;
  color: #292D32;
  font-weight: 500;
}

thead tr,
tbody tr {
  border-bottom: 1px solid #EEEEEE;
}

td.phone {
  white-space: nowrap;
}

td.active span {
  padding: 4px 18px;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
  color: #00B087;
}

td.disabled span {
  padding: 4px 9px;
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  color: #DF0404;
}

p.note {
  color: #B5B7C0;
  font-weight: 500;
}

.pagination {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-list li {
  padding: 6px 9px;
  margin-left: 12px;
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}

.pagination-list li.active {
  background-color: #5932EA;
  border-color: #5932EA;  
}

.pagination-list a {
  font: inherit;
  color: #404B52;
  text-decoration: none;
}

.pagination-list a:hover {
  text-decoration: underline;
}

.pagination-list li.active a {
  color: #FFFFFF;
}