.users-table {
  border-collapse: collapse;
  font-size: 20px;
}

.users-table th {
  padding: 6px 4px;
  color: #B5B7C0;
  font-weight: 500;
  text-align: left;
}

.users-table td {
  padding: 4px 14px;
  color: #292D32;
  font-weight: 500;
}

thead tr,
tbody tr {
  border-bottom: 1px solid #EEEEEE;
}

td.phone {
  white-space: nowrap;
}

td.active span {
  padding: 4px 18px;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
  color: #00B087;
}

td.disabled span {
  padding: 4px 9px;
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  color: #DF0404;
}